name: Terraform CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    paths:
      - '**.tf'
      - '.github/workflows/terraform-ci.yml'

jobs:
  terraform-validate:
    name: Terraform Validate
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.6.0"
      
      - name: Terraform Format
        run: terraform fmt -check -recursive .
        
      - name: Terraform Init (Root)
        run: terraform init -backend=false

      - name: Terraform Validate (Root)
        run: terraform validate
        
      - name: Terraform Init (Example)
        working-directory: examples/complete
        run: terraform init -backend=false
        
      - name: Terraform Validate (Example)
        working-directory: examples/complete
        run: terraform validate
